input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #aaa;
  background-color: transparent;
  font-size: 0.9em;
  outline: none;
}

.form {

    .label {
      margin-bottom: 5px;
      font-size: 0.875em;
      display: block;
    }

    .error {
      color: red;
      font-size: 0.8em;
    }
  }

